// 
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*------------*/

.wrapper {
    width: 100%;
    padding-top: 10vh;
    text-align: center;
}

.output {
    width: 80vw;
    max-width: 1000px;
    height: 40vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #999;
    box-shadow: 0 0 10px 10px #1113;
    background-color: #efe5;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    user-select: none;
}

.description {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #0004;
    box-shadow: 0 0 10px 10px #1113;
    padding: 20px;
}

.keyboard__row {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.key {
    display: inline-flex;
    width: 6%;
    height: 45px;
    background-color: #eee;
    border: 0;
    border-radius: 3px;
    box-shadow:
        -3px -2px 2px #0003,
        0 0 0 1px #0003,
        1px 1px 1px #0003 inset,
        -1px -1px 1px #fffc inset;
    color: #777;
    font-size: 1em;
    outline: 0;
    position: relative;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .2s;
}

.key:hover {
    background-color: #eee8;
    cursor: pointer;
}

.key>span {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 2;
    transform: translateY(-50%) scaleX(0.875);
    width: 100%;
}


.key .state0,
.key .state1,
.key .state2,
.key .state3 {
    display: none;
}

/*
.state0 en
.state1 en + shift
.state2 ru
.state3 ru + shift
*/

.state0 .keyboard__row .key .state0,
.state1 .keyboard__row .key .state1,
.state2 .keyboard__row .key .state2,
.state3 .keyboard__row .key .state3 {
    display: block;
}

.state0.caps .keyboard__row:not(:first-child) .key .state0,
.state1.caps .keyboard__row:not(:first-child) .key .state1,
.state2.caps .keyboard__row:not(:first-child) .key .state2,
.state2.caps .keyboard__row:first-child .key:first-child .state2,
.state3.caps .keyboard__row .key .state3 {
    display: none;
}

.state0.caps .keyboard__row:not(:first-child) .key .state1,
.state1.caps .keyboard__row:not(:first-child) .key .state0,
.state2.caps .keyboard__row:not(:first-child) .key .state3,
.state2.caps .keyboard__row:first-child .key:first-child .state3,
.state3.caps .keyboard__row:first-child .key:not(:first-child) .state3,
.state3.caps .keyboard__row:not(:first-child) .key .state2,
.state3.caps .keyboard__row:first-child .key:first-child .state2 {
    display: block;
}

.key--pressed {
    background: #efe;
    position: relative;
    top: 1px;
    box-shadow: none;
    border: 1px solid #888;
}